.actions-bar{
  display: flex;
  margin: 10px 10px 10px 0;
  align-items: center;

}
.add-button{
  margin-right: 10px;
}
::ng-deep .mat-form-field-wrapper{
  padding-bottom: 0 !important;
}

.search-input{
  font-size: 10px;
}
